:root {
    --clr-dark-blue: 0, 26, 52;
    --clr-sunny: 249, 178, 3;
    --text: 255, 255, 255
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--text));
  background: rgb(var(--clr-dark-blue));
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--clr-sunny));
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
